
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}



/*-------------------------------*/

.about-content .breadlist a {
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    

  }/*不能实现*/

.listchange{
    text-decoration: none;
    color: #fff;
}

/*.list-unstyled li a {
    background: #8490ff;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
    margin-bottom: 30px;
}

.widget-categories li{
    font-size: 1px;
}
*/


.widget-content ul li a{

    font-size: 20px;
}
